@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #F197A4;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

header {
    background-color: #4152a5;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

.search {
    background-color: transparent;
    color: #F197A4;
    border: 2px solid #F197A4;
    border-radius: 50px;
    font-family: inherit;
    font-size: 1rem;
    padding: .5rem 1rem;
}

.search::placeholder {
    color: #F197A4;
    background-color: transparent;
}

.search:focus {
    outline: none;
    background-color: #4152a5;
}

main {
    display: flex;
    flex-wrap: wrap;
}

.movie {
    background-color: #d86679;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, .2);
    overflow: hidden;
    position: relative;
    margin: 1rem;
    width: 300px;
}

/* git commit -am ' */

.movie img {
    /* object-fit: cover;
    height: 400px; after adjusting padding, we got rid of this */
    width: 100%;
    /* max-width: 100%; */
}

.movie-info {
    color: #4152A5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem 1rem;
    letter-spacing: .5px;
}

.movie-info h3 {
    margin: 0;
}

.movie-info span {
    background-color: #4152A5;
    border-radius: 3px;
    padding: .25rem .5rem;
    font-weight: bold;
    /* color: #FFB177; */
}

.movie-info span.green { 
    color: rgb(140, 233, 1);
}

.movie-info span.orange { 
}
